# [submodule "src/f1tenth_system"]
# 	path = src/f1tenth_system
# 	url = https://github.com/f1tenth/f1tenth_system.git
[submodule "src/f1tenth_system/ackermann_mux"]
	path = src/f1tenth_system/ackermann_mux
	url = https://github.com/f1tenth/ackermann_mux.git
	branch = foxy-devel
[submodule "src/f1tenth_system/vesc"]
	path = src/f1tenth_system/vesc
	url = https://github.com/f1tenth/vesc.git
	branch = foxy
[submodule "src/f1tenth_system/teleop_tools"]
	path = src/f1tenth_system/teleop_tools
	url = https://github.com/f1tenth/teleop_tools.git
	branch = foxy-devel
